<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>KMA Media Purchasing Portal</h1>
    
    <div class="left">
        <p>Valued KMA Media Partner,</p>

        <p>Our Media Purchasing Portal has been designed with you in mind to facilitate an efficient purchasing process with features including: 
        <ul>
            <li>Secure vendor login to your personal account via HTTPS/SSL connection.</li>
            <li>The assurance that your proposal will be received by KMA.</li>
            <li>Fast review and reply</li>
        </ul>
       </p> 
    </div>
    <div class="home-buttons">
        <p class="button-space"><%= link_to "Log in", login_path, class: "btn btn-lg btn-primary signup-btn" %></p>
        <p class="button-space">or</p>
        <p class="button-space"><%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary signup-btn" %></p>
    </div>
  </div>
               
<% end %>
