<%= simple_form_for @proposal_request do |f| %>  
  <% if @proposal_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposal_request.errors.count, "error") %> prohibited this proposal_request from being saved:</h2>

      <ul>
      <% @proposal_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :client_name %><br>
    <%= f.input :client_industry %><br>
    <%= f.input :campaign_name %><br>
    <%= f.input :basic_description %><br>
    <%= f.input :flight_date_start %><br>
    <%= f.input :flight_date_end %><br>
    <%= f.input :staggered %><br>
    <%= f.input :goals_and_objectives %><br>
    <%= f.input :budget %><br>
    <%= f.input :targeting %><br>
    <%= f.input :geography %><br>
    <%= f.input :age_group %><br>
    <%= f.input :gender %><br>
    <%= f.input :household_income %><br>
    <%= f.input :interests %><br>
    <%= f.input :devices %><br>
    <%= f.input :devices_description %><br>
    <%= f.input :creative_ad_units %><br>
    <%= f.input :day_parting %><br>
    <%= f.input :day_parting_description %><br>
    <%= f.input :success_metrics %><br>
    <%= f.input :specifications %><br>
    <%= f.input :insertion_order_terms %><br>
    <%= f.input :submission_instructions %><br>
    <%= f.input :acceptable_proposal_formats %><br>
    <%= f.input :proposal_due_date %><br>
    <%= f.input :decision_made_by %><br>
    <%= f.input :selection_criteria %><br>
    <%= f.submit %>
  </div>
<% end %>
