<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Client Name</Data></Cell>
        <Cell><Data ss:Type="String">Client Industry</Data></Cell>
        <Cell><Data ss:Type="String">Campain Name</Data></Cell>
        <Cell><Data ss:Type="String">Basic Description</Data></Cell>
        <Cell><Data ss:Type="String">Flight Date Start</Data></Cell>
        <Cell><Data ss:Type="String">Flight Date End</Data></Cell>
        <Cell><Data ss:Type="String">Staggered</Data></Cell>
        <Cell><Data ss:Type="String">Goals and objectives</Data></Cell>
        <Cell><Data ss:Type="Number">Budget</Data></Cell>
        <Cell><Data ss:Type="String">Targeting</Data></Cell>
        <Cell><Data ss:Type="String">Targeting</Data></Cell>
        <Cell><Data ss:Type="String">Targeting</Data></Cell>
        <Cell><Data ss:Type="String">Targeting</Data></Cell>
        <Cell><Data ss:Type="String">Geography</Data></Cell>
        <Cell><Data ss:Type="String">Age Group</Data></Cell>
        <Cell><Data ss:Type="String">Gender</Data></Cell>
        <Cell><Data ss:Type="Number">Household Income</Data></Cell>
        <Cell><Data ss:Type="String">Interests</Data></Cell>
        <Cell><Data ss:Type="String">Devices</Data></Cell>
        <Cell><Data ss:Type="String">Creative Ad units</Data></Cell>
        <Cell><Data ss:Type="String">Day Parting</Data></Cell>
        <Cell><Data ss:Type="String">Success Metrics</Data></Cell>
        <Cell><Data ss:Type="String">Specifications</Data></Cell>
        <Cell><Data ss:Type="String">Insertion Order Terms</Data></Cell>
        <Cell><Data ss:Type="String">Proposal due dates</Data></Cell>
        <Cell><Data ss:Type="String">Decision made by</Data></Cell>
        <Cell><Data ss:Type="String">Selection Criteria</Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String"><%= proposal_requests.client_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.client_industry%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.campaign_name%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.basic_description%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.flight_date_start%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.flight_date_end%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.staggered%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.goals_and_objectives%></Data></Cell>
        <Cell><Data ss:Type="Number"><%= proposal_requests.budget%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.targeting1%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.targeting2%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.targeting3%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.targeting4%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.geography%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.age_group%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.gender%></Data></Cell>
        <Cell><Data ss:Type="Number"><%= proposal_requests.household_income%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.interests%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.devices%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.creative_ad_units%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.day_parting%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.success_metrics%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.specifications%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.insertion_order_terms%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.proposal_due_dates%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.decision_made_by%></Data></Cell>
        <Cell><Data ss:Type="String"><%= proposal_requests.selection_criteria%></Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>
