<p id="notice"><%= notice %></p>

<p>
  <strong>Clientname:</strong>
  <%= @proposal_request.clientName %>
</p>

<p>
  <strong>Clientindustry:</strong>
  <%= @proposal_request.clientIndustry %>
</p>

<p>
  <strong>Campaignname:</strong>
  <%= @proposal_request.campaignName %>
</p>

<p>
  <strong>Basicdescription:</strong>
  <%= @proposal_request.basicDescription %>
</p>

<p>
  <strong>Flightdatestart:</strong>
  <%= @proposal_request.flightDateStart %>
</p>

<p>
  <strong>Flightdateend:</strong>
  <%= @proposal_request.flightDateEnd %>
</p>

<p>
  <strong>Staggered:</strong>
  <%= @proposal_request.staggered %>
</p>

<p>
  <strong>Goalsandobjectives:</strong>
  <%= @proposal_request.goalsAndObjectives %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @proposal_request.budget %>
</p>

<p>
  <strong>Targeting:</strong>
  <%= @proposal_request.targeting %>
</p>

<p>
  <strong>Geography:</strong>
  <%= @proposal_request.geography %>
</p>

<p>
  <strong>Agegroup:</strong>
  <%= @proposal_request.ageGroup %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @proposal_request.gender %>
</p>

<p>
  <strong>Househouldincome:</strong>
  <%= @proposal_request.househouldIncome %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @proposal_request.interest %>
</p>

<p>
  <strong>Device:</strong>
  <%= @proposal_request.device %>
</p>

<p>
  <strong>Creativeadunits:</strong>
  <%= @proposal_request.creativeAdUnits %>
</p>

<p>
  <strong>Dayparting:</strong>
  <%= @proposal_request.dayParting %>
</p>

<p>
  <strong>Successmetrics:</strong>
  <%= @proposal_request.successMetrics %>
</p>

<p>
  <strong>Specification:</strong>
  <%= @proposal_request.specification %>
</p>

<p>
  <strong>Insertionorderterms:</strong>
  <%= @proposal_request.insertionOrderTerms %>
</p>

<p>
  <strong>Submissioninstructions:</strong>
  <%= @proposal_request.submissionInstructions %>
</p>

<p>
  <strong>Proposaldue:</strong>
  <%= @proposal_request.proposalDue %>
</p>

<p>
  <strong>Decisionmadeby:</strong>
  <%= @proposal_request.decisionMadeBy %>
</p>

<p>
  <strong>Selectioncriteria:</strong>
  <%= @proposal_request.selectionCriteria %>
</p>

<%= link_to 'Edit', edit_proposal_request_path(@proposal_request) %> |
<%= link_to 'Back', proposal_requests_path %>
