<p id="notice"><%= notice %></p>

<p>
  <strong>Client Name:</strong>
  <%= @proposal_request.clientName %>
</p>

<p>
  <strong>Client Industry:</strong>
  <%= @proposal_request.clientIndustry %>
</p>

<p>
  <strong>Campaign Name:</strong>
  <%= @proposal_request.campaignName %>
</p>

<p>
  <strong>Basic Description:</strong>
  <%= @proposal_request.basicDescription %>
</p>

<p>
  <strong>Flight Date Start:</strong>
  <%= @proposal_request.flightDateStart %>
</p>

<p>
  <strong>Flight Date End:</strong>
  <%= @proposal_request.flightDateEnd %>
</p>

<p>
  <strong>Staggered:</strong>
  <%= @proposal_request.staggered %>
</p>

<p>
  <strong>Goals and Objectives:</strong>
  <%= @proposal_request.goalsAndObjectives %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @proposal_request.budget %>
</p>

<p>
  <strong>Targeting:</strong>
  <%= @proposal_request.targeting %>
</p>

<p>
  <strong>Geography:</strong>
  <%= @proposal_request.geography %>
</p>

<p>
  <strong>Age Group:</strong>
  <%= @proposal_request.ageGroup %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @proposal_request.gender %>
</p>

<p>
  <strong>Househould Income:</strong>
  <%= @proposal_request.househouldIncome %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @proposal_request.interest %>
</p>

<p>
  <strong>Devices:</strong>
  <%= @proposal_request.device %>
</p>

<p>
  <strong>Creative Ad Units:</strong>
  <%= @proposal_request.creativeAdUnits %>
</p>

<p>
  <strong>Day Parting:</strong>
  <%= @proposal_request.dayParting %>
</p>

<p>
  <strong>Success Metrics:</strong>
  <%= @proposal_request.successMetrics %>
</p>

<p>
  <strong>Specifications:</strong>
  <%= @proposal_request.specification %>
</p>

<p>
  <strong>Insertion Order Terms:</strong>
  <%= @proposal_request.insertionOrderTerms %>
</p>

<p>
  <strong>Submission Instructions:</strong>
  <%= @proposal_request.submissionInstructions %>
</p>

<p>
  <strong>Proposal Due:</strong>
  <%= @proposal_request.proposalDue %>
</p>

<p>
  <strong>Decision Made By:</strong>
  <%= @proposal_request.decisionMadeBy %>
</p>

<p>
  <strong>Selection Criteria:</strong>
  <%= @proposal_request.selectionCriteria %>
</p>

<%= link_to 'Edit', edit_proposal_request_path(@proposal_request) %> |
<%= link_to 'Back', proposal_requests_path %>
