<p id="notice"><%= notice %></p>

<p>
  <strong>Client name:</strong>
  <%= @proposal_request.client_name %>
</p>

<p>
  <strong>Client:</strong>
  <%= @proposal_request.client_industry %>
</p>

<p>
  <strong>Campaign name:</strong>
  <%= @proposal_request.campaign_name %>
</p>

<p>
  <strong>Basic description:</strong>
  <%= @proposal_request.basic_description %>
</p>

<p>
  <strong>Flight date start:</strong>
  <%= @proposal_request.flight_date_start %>
</p>

<p>
  <strong>Flight date end:</strong>
  <%= @proposal_request.flight_date_end %>
</p>

<p>
  <strong>Staggered:</strong>
  <%= @proposal_request.staggered %>
</p>

<p>
  <strong>Goals and objectives:</strong>
  <%= @proposal_request.goals_and_objectives %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @proposal_request.budget %>
</p>

<p>
  <strong>Targeting:</strong>
  <%= @proposal_request.targeting1 %>
</p>

<p>
  <strong>Geography:</strong>
  <%= @proposal_request.geography %>
</p>

<p>
  <strong>Age group:</strong>
  <%= @proposal_request.age_group %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @proposal_request.gender %>
</p>

<p>
  <strong>Household income:</strong>
  <%= @proposal_request.household_income %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @proposal_request.interests %>
</p>

<p>
  <strong>Devices:</strong>
  <%= @proposal_request.devices %>
</p>

<p>
  <strong>Devices description:</strong>
  <%= @proposal_request.device_description %>
</p>

<p>
  <strong>Creative ad units:</strong>
  <%= @proposal_request.creative_ad_units %>
</p>

<p>
  <strong>Day parting:</strong>
  <%= @proposal_request.day_parting %>
</p>

<p>
  <strong>Day parting description:</strong>
  <%= @proposal_request.day_parting_description %>
</p>

<p>
  <strong>Success metrics:</strong>
  <%= @proposal_request.success_metrics %>
</p>

<p>
  <strong>Specifications:</strong>
  <%= @proposal_request.specifications %>
</p>

<p>
  <strong>Insertion order terms:</strong>
  <%= @proposal_request.insertion_order_terms %>
</p>

<p>
  <strong>Submission instructions:</strong>
  <%= @proposal_request.submission_instructions %>
</p>

<p>
  <strong>Acceptable proposal formats:</strong>
  <%= @proposal_request.acceptable_proposal_formats %>
</p>

<p>
  <strong>Proposal due date:</strong>
  <%= @proposal_request.proposal_due_date %>
</p>

<p>
  <strong>Decision made by:</strong>
  <%= @proposal_request.decision_made_by %>
</p>

<p>
  <strong>Selection criteria:</strong>
  <%= @proposal_request.selection_criteria %>
</p>

<%= link_to 'Edit', edit_proposal_request_path(@proposal_request) %> |
<%= link_to 'Back', proposal_requests_path %>
